*.exe
*.obj
*.pdb
*.spv
Debug/
x64/
build/
out/
scenes/
textures/
out/build/x64-Debug
RealEngine.vcxproj
RealEngine.vcxproj.filters
RealEngine.vcxproj.user
shaders/compiled
shaders/embedded
source/shadersEmbedded.cpp
textures/embedded
